@charset "UTF-8";

*{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px; 
   padding: 0px;
} 

header h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 5px;
}
header {
    background-image:linear-gradient(to bottom right, #FFBBA9,#FF997E,#F47857);
    margin-bottom: 8px;
}

header h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 12px;
}

/*menu*/
header>nav#menu li{
    padding: 1.7px;
    display: inline-block;
    background-color: #f47957;
    margin:0.8px;
    border-radius: 3px;
    margin:0px 0px 10px 8px;
}
header>nav#menu li:hover{
    background-color: #FF997E;
}

/*main*/
main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    /*responsividade*/
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 8px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px 10px 10px 10px;
}
main>ol{
    margin-left: 15px;
    padding-bottom:10px;
}
main img{
    width: 100%;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main >h3>abbr{
    text-decoration: underline;
}
/*fim das configuraçoes da main*/


/*configuraçoes de video*/
div.video{
    text-align: center;
    position: relative;
    background-color: #e16846;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}
/*responsividade*/
div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
div#video>h1{
    max-width: 100%;
    text-align: center;
    margin:10px;

}
div#video>h2{
    text-align: center;
    padding: 10px;
}
div#cor{
    background-color: #f47957;
    
}
/*fim das configuraçoes de video*/

/*configuraçoes de audio*/
div#audio{
    margin-top: 20px;

}
/*fim das configuraçoes de audio*/

/*configuraçoes do roda-pé*/
footer{ 
    background-color: #dd5532;
    text-align: center;
    padding: 1px;
    margin-bottom: 8px;
}