@charset "UTF-8";

*{
   margin: 0px; 
   padding: 0px;
} 

header h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 5px;
}
header h1{
    background-image: linear-gradient( to 
right, #837e7d, #0000);
}

header h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 12px;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f47957;
    /*responsividade*/
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px 10px 10px 10px;
}
main>ol{
    margin-left: 15px;
    padding-bottom:10px;
}
main img{
    width: 100%;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main >h3>abbr{
    text-decoration: underline;
}
/*configuraçoes de video*/
div#video{
    background-color: #837e7d;
    text-align: center;
    padding: 14px;
    border-radius: 10px;
     box-shadow: 0px 0px 10px black; 
}

div#video>h1{
    max-width: 100%;
    text-align: center;
    margin:10px;

}
div#video>h2{
    text-align: center;
    padding: 10px;
}
/*fimm das configuraçoes de video*/

/*configuraçoes de audio*/
div#audio{
    margin-top: 20px;

}

footer{
    background-color: #454745;
    color: white;
    text-align: center;
    padding: 6px;
}