@charset "UTF-8";

*{
   font-family: Arial, Helvetica, sans-serif;
} 

main{
    text-align: center;
    color: aliceblue;
    height: 400px;
    background-image:url("../img/criador_html_g.webp");
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    /*responsividade*/
    min-width: 200px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 8px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px 10px 10px 10px;
}

ul>li{
    display: inline-block; 
}

ul>li#cor1{
    color:#FFBBA9 ;
    background-color: #FFBBA9 ;
}
ul>li#cor2{
    color: #FF997E;
     background-color: #FF997E ;
}
ul>li#cor3{
    color:#F47857 ;
     background-color: #F47857 ;
}
ul>li#cor4{
    color: #DD5632;
     background-color: #DD5632 ;
}
ul>li#cor5{
    color: #B33716;
     background-color: #B33716 ;
}

/*mudando cores das fontes conforme a resolução*/
@media(max-width: 660px){
    main{
        color: rgb(255, 0, 0);
        
    }
}

@media(min-width: 660px) and (max-width:1024px){
    main{
        font-size: large;
        color: #FF997E;
    
    }
}

@media (min-width:1025px){
    main{
        color: blue;
    }
}